@import url('../../assets/styles/global.css');

.cart_content {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1.5rem;
  margin: 2rem 0;
  border-radius: .6rem;
}

.cart-text {
  color: var(--Red);
  font-size: clamp(20px, 1.5vw + 2rem, 4.6vw);
  font-weight: 700;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.cart-image {
  padding: 1rem 2rem;
  width: clamp(220px, 55%, 250px);
}

.cart-message {
  font-size: clamp(14px, .9vw + .9rem, 3.5vw);
  font-weight: 500;
  color: var(--Rose-500);
}

@media (min-width: 768px) {
  .cart_content {
    height: min-content;
    padding: 1.5rem;
    width: 33%;
    margin: 0;
  }

  .cart-text {
    font-size: 1.7vw;
  }

  .cart-image {
    width: clamp(190px, 50%, 200px);
  }

  .cart-message {
    font-size: 1vw;
  }
}