@import url('../../assets/styles/global.css');

.card_content {
  display: grid;
  overflow: hidden;
}

.card-button {
  position: relative;
  display: flex;
  justify-content: center;
  margin-block: 2rem;
}

.card-image {
  height: clamp(140px, 60vw, 23rem);
  overflow: hidden;
}

.card-image img {
  width: clamp(140px, 100vw, 40rem);
  border-radius: .6rem;
  height: 100%;
  object-fit: cover;
}

.card-nome {
  color: var(--Rose-900);
  font-size: clamp(15px, 3vw, 2rem);
  font-weight: 300;
}

.card-descricao {
  color: var(--Rose-900);
  font-size: clamp(18px, 3vw, 2.1rem);
  font-weight: 600;
  padding-block: .2rem;
}

.card-preco {
  color: var(--Red);
  font-size: clamp(18px, 3vw, 2.1rem);
  font-weight: 600;
  padding-block: .2rem;
}

@media (min-width: 768px) {
  @import url('../../assets/styles/global.css');

  .card_content {
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-button {
    margin-block: 1.5rem;
  }

  .card-image {
    height: auto;
  }

  .card-image img {
    width: auto;
    height: auto;
  }

  .card-nome {
    font-size: .6rem;
  }

  .card-descricao {
    font-size: .6rem;
    padding-block: 0;
  }

  .card-preco {
    font-size: .6rem;
    padding-block: 0;
  }
}