/* sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... } */

/* md	768px	@media (max-width: 768px) { ... } */
/* muda a partir de 00px*/
/* para em 768px*/

.home_content {
  background-color: var(--Rose-100);
  width: 100vw;
  padding: 4.3vw 7.5vw;
  display: flex;
  flex-direction: column;
}

.home-paragrafo {
  font-weight: 700;
  font-size: 2.8rem;
  color: var(--Rose-900);
}

/* md	768px	@media (max-width: 768px) { ... } */
/* muda a partir de 00px*/
/* para em 768px*/

@media (min-width: 768px) {
  .home_content {
    padding-inline: 5vw;
    flex-direction: row;
    gap: 1.2rem;
  }

  .home-paragrafo {
    font-size: 1.5rem;
  }

  .home-container {
    width: 60%;
  }
}